<p>Greetings,</p>

<p>You're almost done! Please click the link below, which will prompt you to create a secure account password.</p>

<p>Complete your registration <%= link_to 'Click here', accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p>Thanks,</p>
<p>OtterTax Support Team</p>
